[submodule "lib/updater"]
	path = lib/updater
	url = https://github.com/flaviotordini/updater
	branch = master
[submodule "lib/http"]
	path = lib/http
	url = https://github.com/flaviotordini/http
	branch = master
